$card-bg-dark: hsl(228, 28%, 20%)
$card-bg-light: hsl(227, 47%, 96%)
$secondary-text-light:hsl(228, 12%, 44%)
$secondary-text-dark: hsl(228, 34%, 66%)

h1, p
    margin-bottom: 0

.light .card-header
    p
        color: $secondary-text-light

.dark .card-header
    p
        color: $secondary-text-dark

.light .container-card
    background-color: $card-bg-light

.dark .container-card
    background-color: $card-bg-dark

.container-card
    width: 200px
    height: 170px
    display: flex
    flex-direction: column
    align-items: center
    padding: 20px
    border-radius: 5px

.container-card:hover
    cursor: pointer

.light .container-card:hover
    background-color: hsl(227, 47%, 90%)

.dark .container-card:hover
    background-color: hsl(230, 28%, 24%)

.card-header
    display: flex
    align-items: center
    gap: 10px
    margin-top: 10px
    p
        margin: 0
        font-weight: bold
        font-size: 0.9rem

.card-body 
    display: flex
    flex-direction: column
    align-items: center
    h1
        font-size: 50px
        margin-top: 15px
    p
        margin-top:0px
        font-weight: 200
        font-size: 12px
        letter-spacing: 4px
        text-transform: uppercase

.card-footer
    display: flex
    gap: 5px
    align-items: center
    margin-top: 20px
    p
        margin-top: 0

.card-border
    border-top: 4px solid hsl(208, 92%, 53%)
