// dark mode
$main-bg-dark: hsl(230, 17%, 14%)
$main-text-dark: hsl(0, 0%, 100%)

//  ligth mode
$main-bg-light: hsl(0, 0%, 100%)
$main-text-light: hsl(230, 17%, 14%)

html
    font-family: Inter

.ligth
    background: $main-bg-light
    color: $main-text-light

.dark
    background: $main-bg-dark
    color: $main-text-dark